page-tasks {
    width: 400%;
}

.tasks{
    border:1px solid black;
    padding:1em;
}


.scroll-content{
    padding: 0 !important;
}

.cover{
    height:100%;
    width: 100%;
    position: absolute;
    opacity : 0.5;
}

